.button_type_like {
  background-image: url('../../../images/like-button.svg');
  background-size: cover;
  background-color: #fff;
  border: 0;
  min-width: 20px;
  padding: 0;
  margin: 0;
}

.button_type_like:hover {
  background-image: url('../../../images/Like-active-button.svg');
}