.button_type_submit {
  border: 0;
  padding: 0;
  margin: 0 auto;
  max-width: calc(100% - (36px * 2));
  width: 100%;
  border-radius: 2px;
  background-color: #000;
  color: #fff;
  min-height: 51px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

.button_type_submit:hover {
  opacity: .8;
}


@media screen and (max-width: 373px) {
  .button_type_submit {
    font-size: 14px;
    line-height: 17px;
    max-width: calc(100% - (22px * 2));
    width: 100%;
  }
}
