.profile__status {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 767px) {
  .profile__status {
    text-align: center;
  }
} 

@media screen and (max-width: 373px) {
  .profile__status {
    font-size: 14px;
    line-height: 17px;
  }
} 