.profile__avatar {
  margin: 0 30px 0 0;
  border-radius: 50%;
  max-width: 120px;
  object-fit: cover;
  height: 120px;
}

@media screen and (max-width: 915px) {
  .profile__avatar {
    margin: 0 0 14px 0;
  }
} 