.place__button-like {
  background-image: url('../../../images/like-button.svg');
  background-size: 100% 100%;
  max-width: 21px;
  width: 100%;
  height: 19px;
  border: 0;
  padding: 0;
  margin-left: 5px;
  transition: .3s;
}

.place__button-like:hover {
  background-image: url('../../../images/Like-active-button.svg');
  transform: scale(1.3);
} 
